.sideBar_item{  
  flex: 1;   
  width: 100%;
  display: flex;  
  flex-direction: column; 
  align-items: center;
  border: 3px transparent solid;
  margin: 12% 0;
  cursor: pointer;
  transition: all 0.5s;
  //padding-left: 7px;
  &.active{
    border-left: 3px white solid;
    border-radius: 0 50% 50% 0;
  }
}
.sideBar{
    z-index: 12222;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80px;
    height: 100vh;
    background: linear-gradient(180deg, $sideBar-color, $sideBar-color2);
    background-color: $sideBar-color;
    padding: 15px 10px 15px 0;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
    animation: slidein-sideBar 1s alternate forwards;
    transform: translateX(-20px);
    @media only screen and (max-width: 810px) {
      display: none !important;
      &.showSideBar{
        display: flex !important;
      }
    }
    img{
      width: 30px;
      height: 30px;
      //margin-left: 10px;
    }
    > div{
      flex: 1;
      width: 100%;
    }
    .sideBar_Items{
      justify-content: space-between;
      align-items: center !important;
      > div{
        width: 100% !important;
        align-items: center !important;
      }
      .logo-container{
        justify-content: center;
        cursor: pointer;
        margin-bottom: 20%;
        //padding-left: 10px;
      }
      .screens-buttons{
        .sideBar_item{  
          @extend .sideBar_item
        }
      }
    }
    .profile_picture{
      justify-content: flex-end;
      //padding-left: 10px;
      align-items: center;
      .tail-buttons{
        justify-content: center;
        align-items: center;
        .tailButton{
          @extend .sideBar_item;
          width: 100%;
        }
      }
    }
  }