@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../../assets/fonts/Montserrat-SemiBold.ttf");
  }
@font-face {
  font-family: Montserrat-Bold;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("../../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Tajawal-Bold;
  src: url("../../assets/fonts/Tajawal-Bold.ttf");
}
@font-face {
  font-family: Tajawal-Medium;
  src: url("../../assets/fonts/Tajawal-Medium.ttf");
}
@font-face {
  font-family: Tajawal-Regular;
  src: url("../../assets/fonts/Tajawal-Regular.ttf");
}