$icons-color: #83838E;
$bg-color: #EBF4F8;
$sideBar-color: #2C2738;
$big-text: #272D3B;
$button-color1: #0880AE;
$button-color2: #FFFFFF;
$button-text1: #7C9CBF;
$button-text2: #FFFFFF;
$border-color: #DBE2EA;
$contest-bgColors: #39D5CF, #FF007C, #7D00B5, #0880AE, #7C9CBF;