$icons-color: #83838E;
$bg-color: #EBF4F8;
//$sideBar-color: #2C2738;
$sideBar-color: #5E2691;
$sideBar-color2: #711E72;
$big-text: #272D3B;

//Card Colors
$button-color1: #5E2691;
$button-color2: #FFFFFF;
$button-text1: #5E2691;
$button-text2: #FFFFFF;
$button-border1:#5E2691;

$border-color: #DBE2EA;
$container-border: #707070;
$contest-bgColors: #39D5CF, #FF007C, #7D00B5, #0880AE, #7C9CBF;
$boxshadow: #2C27380A;
$youtube: #bb0000;
$pintrest: #cb2027;
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #CB4499;
$twitch: #FF26E2;


