$icons-color: #83838E;
$bg-color: #EBF4F8;
//$sideBar-color: #2C2738;
$sideBar-color: #5E2691;
$sideBar-color2: #711E72;
$big-text: #272D3B;

//Card Colors
$button-color1: #5E2691;
$button-color2: #FFFFFF;
$button-text1: #5E2691;
$button-text2: #FFFFFF;
$button-border1:#5E2691;

$border-color: #DBE2EA;
$container-border: #707070;
$contest-bgColors: #39D5CF, #FF007C, #7D00B5, #0880AE, #7C9CBF;
$boxshadow: #2C27380A;

//Preview
$previewBg: #DBA6E8;

//Social Media Colors
$youtube: red;
$pintrest: #cb2027;
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #CB4499;
$twitch: #6441a5;
$snapchat: #FFFC00;
$linkedin: #0077b5;
$tiktok: #000000;
$blog: orange;
$discord: #5865F2;
$steam: #000000;
$spotify: #1DB954;
$soundcloud: #ff3300;
$website: $sideBar-color;
$newsletter: $previewBg;
$question: #ef9a49;
$coupon: $sideBar-color2;
$bonus: orange;


