@import "sass/main.scss";
html, body{
  @extend .scroll;
  *{
    direction: inherit !important;
  }
}
.App{
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #FFFFFF;
}
.d-flex{
  display: flex;
}
.list-title{
  font-size: 20px;
  margin-bottom: 0.3em;
}
.App{
  min-height: 100vh;
}
.dashboard_Body{
  flex: 1;
  padding: 25px 50px 25px 130px;
  color: $big-text;
  font-family: Poppins-Medium;
  transition: all 0.5s;
  &[dir=rtl]{
    font-family: Tajawal-Medium;
    padding: 25px 130px 25px 50px;
  }
  @media only screen and (max-width: 810px) {
    &[dir=rtl], &[dir=ltr]{
      padding: 25px 15px !important;
    }
  }
  @media only screen and (max-width: 540px) {
    &[dir=rtl], &[dir=ltr]{
      padding: 25px 15px !important;
    }
  }
  @media only screen and (max-width: 400px) {
    &[dir=rtl], &[dir=ltr]{
      padding: 25px 5px !important;
    }
  }
  @media only screen and (max-width: 375px) {
    &[dir=rtl], &[dir=ltr]{
      padding: 25px 0px !important;
    }
  }
  .big_title{
    font-size: 30px;
    font-weight: bold;
    font-family: Poppins-SemiBold;
    align-items: center;
    justify-content: space-between;
    &[dir=rtl]{
      font-family: Tajawal-Bold;
    }
    @media only screen and (max-width: 400px) {
      padding: 0px 15px !important;
    }
    @media only screen and (max-width: 359px) {
      padding: 0px 15px !important;
    }
    .burgerIcon{
      display: none;
      justify-self: flex-end !important;
      @media only screen and (max-width: 810px) {
        display: flex;
        width: 29px;
        max-width: 29px;
        height: auto;
        //margin-right: 5px;
      }
      @media only screen and (max-width: 359px) {
        //margin-right: 25px;
      }
    }
  }
}
.column.recentContests{
  max-height: 100%;
  overflow-y: auto;
  .arrow-button-container{
    margin-top: 7px;
  }
}
.list-container{
  padding: 20px 20px 25px 20px;
  background-color: #FFFFFF;
  border: 2px solid $border-color;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #272D3B33;
  position: relative;
  @media only screen and (max-width: 375px) {
    border-radius: 0px;
  }
  .splash{
    border-radius: 15px;
  }
  .list-title-container{
    margin-bottom: 0.5em;
    width: 100%;
    #addNewButton{
        display: none !important;
        @media only screen and (max-width: 540px) {
          display: flex !important;
        }
    }
    .list-title{
      @extend .list-title;
      flex: 1;
      margin-bottom: 0;
      z-index: 10000;
    }
    .addNew{
      font-size: 15px;
      z-index: 10000;
      a{
        background-color: $sideBar-color;
        padding: 12px 20px;
        border-radius: 25px;
        color: white;
      }
      display: flex !important;
      @media only screen and (max-width: 540px) {
        display: none !important;
      }
    }
    &.winners-container{
      padding: 15px 0;
      .winners-container-title{
        font-size: 30px;
        font-family: Poppins-SemiBold;
        &[dir=rtl]{
          font-family: Tajawal-Bold;
        }
      }
      .winners-container-subtitle{
        font-size: 15px;
        font-family: Poppins-Medium;
        color: grey;
        &[dir=rtl]{
          font-family: Tajawal-Medium;
        }
      }
      .draw-button{
        font-size: 15px;
        z-index: 10000;
        background-color: $sideBar-color;
        padding: 12px 20px;
        border-radius: 25px;
        color: white;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 1em;
        & > span{
          margin: 0 0.25em;
        }
        img{
          width: 25px;
          height: auto;
        }
        &[dir=rtl]{
          font-family: Tajawal-Medium;
        }
      }
    }
  }
  i{
    cursor: pointer;
  }
  ul{
    &.todolist{
      list-style: none;
    }
    li{
      display: flex;
      align-items: center;
    }
    li::before {
      text-align: center;
      content: "\2022";
      color: $button-color1; 
      font-weight: bold; 
      font-size: 27px;
      display: inline-block;
      width: 0.7em; 
      margin-bottom: 5px;
    }
  }
  .contestContainer{
    align-items: center;
    margin: 5px 0;
    flex: 1;
    @for $i from 1 through length($contest-bgColors){
        &:nth-child(#{$i}) .calendarIcon {
          background-color: nth($contest-bgColors, $i);
        }
    }
    .calendarIcon{
      display: flex;
      height: 100%;
      padding: 10px;
      margin-right: 10px;
      align-items: center;
      border-radius: 50%;
      img{
        width: 40px;
        height: auto;
      }
    }
    .contestInfos{
      width: 100%;
      .contestTitle{
        font-weight: bold;
        font-size: 18px;
      }
      .contestEndingDate{
        font-size: 15px;
        justify-content: space-between !important;
      }
    }
  }
  .arrow-button-container{
    margin-left: 0.25em;
    margin-right: 0;
    &[dir=rtl]{
      margin-left: 0;
      margin-right: 0.25em;
      img{
        transform: rotateZ(180deg);
      }
    }
    .arrow-button{
      z-index: 100000;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color1;
        border-radius: 50%;
        padding: 10px;
        img{
          width: 22px;
          height: auto;
        }
      }
    }
  }
  &.newContest{
    padding: 0 !important;
    margin-top: 0.5em;
    flex: 1;
    @media only screen and (max-width: 400px){
      padding: 5px;
    }
    .bottomContainer{
      flex: 1;
      flex-direction: row;
      @media only screen and (max-width: 1279px){
        &:not(.contest-result){
          flex-direction: column-reverse !important;
        }
      }
      .actionsContainer{
        flex: 1 !important;
        .contestButtons{
          justify-self: flex-end !important;
          justify-content: flex-end;
          .buttonContainer{
            justify-self: flex-end !important;
            @extend .button_container;
            margin-bottom: 0.25em !important;
            margin-top: 0.25em;
          }
        }
      }
      .generalInfosForm{
        flex: 1;
        border-right: 1px solid $border-color;
        @media only screen and (max-width: 1279px){
          display: none !important;
        }
      }
      .newContestFrom{
        flex: 1;
        .mainInfos, .prizes, .contestButtons{
          padding: 10px;
          flex-wrap: wrap !important;
          &.contestButtons{
            justify-self: flex-end !important;
            &[dir=rtl]{
              & > *{
                font-family: Tajawal-Medium !important;
              }
            }
          }
          &:not(.contestButtons){
            flex: 1;
          }
          .textInputs, .otherInputs{
            @extend .input;
            flex-wrap: wrap;
          }
          .buttonContainer{
            @extend .button_container;
          }
        }
        .prizes{
          margin-top: 0.25em;
          label{
            font-size: 14px;
            margin: 0 0 0.25em 0.25em;
          }
          .textInputs, .otherInputs{
            .contest_checkbox{
              @extend .input;
            }
            .contest_input, .input_container{
              flex: 1;
              margin: 0px 0.5em 0px 0px;
              @media only screen and (max-width: 400px){
                margin: 0 !important;
              }
              input{
                max-width: calc(100% - 0.5em) !important;
                max-height: 50px !important;
                @media only screen and (max-width: 400px){
                  margin: 0.25em 0 !important;
                }
              }
            }
          }
        }
      }
    }
    
  }
}
.articles, .cardsContainer{
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  .article {
    @extend .article;
  }
}
.article, .card{
  @extend .card;
}
@keyframes slidein-sideBar {
  from{
    transform: translateX(-20px);
  }to{
    transform: translateX(0px);
  }
}
