@import "sass/main.scss";
.d-flex{
  display: flex;
}
.list-title{
  font-size: 20px;
  margin-bottom: 0.3em;
}
.App{
  min-height: 100vh;
  &.bgcolor{
    background-color: $bg-color;
  }
}
.dashboard_Body{
  flex: 1;
  padding: 25px 50px 25px 130px;
  color: $big-text;
  background-color: $bg-color;
  font-family: Montserrat-SemiBold;
  transition: all 0.5s;
  @media only screen and (max-width: 540px) {
    padding: 25px 15px 25px 15px;
  }
  .big_title{
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat-Bold;
  }
}
.column.recentContests{
  max-height: 100%;
  overflow-y: auto;
  .arrow-button-container{
    margin-top: 7px;
  }
}
.list-container{
  padding: 20px 20px 25px 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #272D3B33;
  &.recentContests{
    @media only screen and (max-width: 1408px){
      order: 1 !important;
    }
  }
  &{
    @media only screen and (max-width: 1408px){
      order: 2 !important;
    }
  }
  .list-title-container{
    margin-bottom: 0.3em;
    width: 100%;
    .list-title{
      @extend .list-title;
      margin-bottom: 0;
    }
    .addNew{
      font-size: 15px;
    }
  }
  .span{

  }
  ul{
    &.todolist{
      list-style: none;
    }
    li{
      display: flex;
      align-items: center;
    }
    li::before {
      text-align: center;
      content: "\2022";
      color: $button-color1; 
      font-weight: bold; 
      font-size: 27px;
      display: inline-block;
      width: 0.7em; 
      margin-bottom: 5px;
    }
  }
  .contestContainer{
    align-items: center;
    margin: 5px 0;
    flex: 1;
    @for $i from 1 through length($contest-bgColors){
        &:nth-child(#{$i}) .calendarIcon {
          background-color: nth($contest-bgColors, $i);
        }
    }
    .calendarIcon{
      display: flex;
      height: 100%;
      padding: 10px;
      margin-right: 10px;
      align-items: center;
      border-radius: 50%;
      img{
        width: 40px;
        height: auto;
      }
    }
    .contestInfos{
      width: 100%;
      .contestTitle{
        font-weight: bold;
        font-size: 18px;
      }
      .contestEndingDate{
        font-size: 15px;
        justify-content: space-between !important;
      }
    }
  }
  .arrow-button-container{
    width: 100%;
    .arrow-button{
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $button-color1;
        border-radius: 50%;
        padding: 10px;
        img{
          width: 22px;
          height: auto;
        }
      }
    }
  }
  &.newContest{
    @media only screen and (max-width: 1023px){
      flex-direction: column-reverse;
    }
    .actionsContainer{
      flex: 1.05;
      .contestButtons{
        .buttonContainer{
          @extend .button_container;
        }
      }
    }
    .newContestFrom{
      flex: 1;
      .mainInfos, .prizes, .contestButtons{
        padding: 10px;
        flex: 1;
        flex-wrap: wrap;
        .textInputs, .otherInputs{
          @extend .input;
          flex-wrap: wrap;
        }
        .buttonContainer{
          @extend .button_container;
        }
      }
      .prizes{
        margin-top: 0.25em;
        label{
          font-size: 14px;
        }
        .textInputs, .otherInputs{
          .contest_input, .input_container{
            flex: 1;
            margin: 0px 0.5em 0px 0px;
          }
        }
      }
    }
  }
}
.articles, .cardsContainer{
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  .article {
    @extend .article;
  }
}
.article, .card{
  @extend .card;
}
@keyframes slidein-sideBar {
  from{
    transform: translateX(-20px);
  }to{
    transform: translateX(0px);
  }
}
