.actionsContainer{
    flex: 1;
    padding: 10px;
    color: #2B2637;
    .containerTitle{
        font-size: 20px;
        margin-top: 0.25em;
    }
    .contestActions{
        flex: 1;
        overflow-y: auto;
        .contestAction{
            position: relative;
            padding: 5px 10px;
            margin: 0.5em 0px;
            border: 1px solid $border-color;
            border-radius: 10px;
            flex-wrap: nowrap;
            align-items: center !important;
            @media only screen and (max-width: 867px) {
                flex-wrap: wrap;
            }
            > div{
                margin: 0.25em 0.5em;
                display: flex;
                //justify-content: center !important;
                //text-align: center;
            }
            .actionTitle{
                font-size: 16px;
                width: 80px;
                @media only screen and (max-width: 867px) {
                    flex: 0 0 100%;
                    order: 0;
                }
            }
            .actionUrl, .actionPoints{
                @extend .input;
                flex: 1;
                .contest_input {
                    flex: 1;
                    label{
                        display: none !important;
                        margin-bottom: 0px !important;
                    }
                    
                }
            }
            .actionPoints{
                .contest_input{
                    input{
                        min-width: 100px;
                        max-width: 100px;
                        @media only screen and (max-width: 745px) {
                            min-width: none;
                            max-width: none;
                            width: 100% !important;
                        }
                    }
                }
                @media only screen and (max-width: 867px) {
                    flex-grow: 0;
                }
                @media only screen and (max-width: 745px) {
                    flex: 0 0 50%;
                    order: 3;
                }
            }
            .actionUrl{
                @media only screen and (max-width: 867px) {
                    flex-grow: 4;
                }
                @media only screen and (max-width: 745px) {
                    flex: 0 0 calc(100% - 0.25em);
                    order: 4;
                }
            }
            .actionSelect{
                .selectForm{
                    margin-top: 0px !important;
                    width: auto;
                }
                @media only screen and (max-width: 867px) {
                    flex-grow: 0;
                }
                @media only screen and (max-width: 745px) {
                    flex: 0 0 50%;
                    margin-left: 0.25em;
                    order: 2;
                    max-width: none;
                    min-width: none;
                }
            }
            .removeAction{
                justify-self: flex-end;
                width: 15px;
                @media only screen and (max-width: 867px) {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }
                img{
                    cursor: pointer;
                    width: 15px;
                    height: auto;
                }
            }
        }
    }
    .actionsList{
        margin: 0.5em 0;
        align-items: flex-end;
        .actionsListItem{
            font-size: 13px;
            max-width: 104.01px;
            padding: 10px 15px;
            margin: 0.25em;
            border-radius: 25px;
            color: white;
            &#youtube{
                background-color: $youtube;
            }
            &#instagram{
                background-color: $instagram;
            }
            &#facebook{
                background-color: $facebook;
            }
            &#twitch{
                background-color: $twitch;
            }
            &#twitter{
                background-color: $twitter;
            }
            &#pintrest{
                background-color: $pintrest;
            }
        }
    }
}