#alerts-container{
    width: 200px;
    position: fixed;
    bottom: 0.25em;
    right: 0.25em;
    z-index: 99999;
    align-items: flex-end;
    justify-content: center;
    transition: all .5s;
    .alert{
        display: flex;
        flex: 1;
        width: 100%;
        font-size: 12px;
        padding: 10px;
        color: white;
        text-align: center;
        justify-content: center;
        font-family: Poppins-Medium;
        opacity: 0;
        transform: translateY(-0.25em);
        animation: alert-fadeIn 500ms forwards alternate, alert-slideOut 500ms 4s forwards alternate;
        &{
            margin-top: 0.25em;
        }
        //&:last-child, &:last-child(-1){
            //display: flex !important;
        //}
        &#alert-success{
            background-color: #23d160;
            border-left: 10px solid green;
            border-radius: 5px;
        }
        &#alert-fail{
            background-color: #ff3860;
            border-left: 10px solid red;
            border-radius: 5px;
        }
        @keyframes alert-fadeIn {
            from{
                opacity: 0;
            }to{
                opacity: 1;
            }
        }
        @keyframes alert-slideOut {
            from{
                opacity: 1;
                transform: translateY(-0.25em);
            }to{
                opacity: 0;
                transform: translateY(2em);
            }
        }
    }
}