.card{
    flex: 1;
    flex-direction: row;
    background-color: #FFFFFF;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 20px !important;
    margin-top: 1.2rem;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0 !important;
    transition: all 0.5s;
    max-width: calc(33.33% - 10px) !important;
    min-width: calc(33.33% - 10px) !important;
    @media only screen and (max-width: 1420px){
      flex-direction: column !important;
    }
    @media only screen and (max-width: 1195px){
      flex-direction: row !important;
      max-width: calc(50% - 10px) !important;
      min-width: calc(50% - 10px) !important;
    }
    @media only screen and (max-width: 976px){
      max-width: calc(100% - 10px) !important;
      min-width: calc(100% - 10px) !important;
    }
    @media only screen and (max-width: 375px) {
      flex-direction: column !important;
      max-width: calc(100% - 10px) !important;
      min-width: calc(100% - 10px) !important;
    }
    > div{
      flex-grow: 1;
      padding: 10px;
    }
    .left-side{
      flex: 1;
      background-color: $sideBar-color;
      color: white;
      border-radius: 20px 0 0 20px !important;
      font-size: 20px;
      padding: 10px 20px;
      justify-content: space-evenly;
      align-items: center;
      font-family: Poppins-Medium;
      &[dir=rtl]{
        border-radius: 0 20px 20px 0 !important;
        font-family: Tajawal-Medium;
      }
      @media only screen and (max-width: 1420px) {
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 20px 20px 0px 0px !important;
        &[dir=rtl]{
          border-radius: 20px 20px 0 0 !important;
        }
      }
      @media only screen and (max-width: 1195px) {
        flex-direction: column !important;
        justify-content: space-evenly !important;
        align-items: center !important;
        border-radius: 20px 0 0 20px !important;
        &[dir=rtl]{
          border-radius: 0 20px 20px 0 !important;
        }
      }
      @media only screen and (max-width: 375px) {
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 20px 20px 0px 0px !important;
        &[dir=rtl]{
          border-radius: 20px 20px 0 0 !important;
        }
      }
      > div{
        width: 100%;
      }
      #entries{
        position: relative;
        &:hover {
          .tooltip{
            visibility: visible;
            opacity: 1;
          }
        }
        .tooltip{
          position: absolute;
          height: 100%;
          justify-content: center;
          align-items: center;
          opacity: 0;
          visibility: hidden;
          transition: .25s all;
          bottom: -30px;
          &[dir=ltr]{
            left: 10px;
          }
          &[dir=rtl]{
            right: 10px;
          }
          //visibility: hidden;
          .tooltip-text{
            background-color: black;
            color: white;
            padding: 5px 10px; 
            border-radius: 6px;
            font-size: 12px;
          }
        }
      }
      &.templateImg{
        height: 100%;
        align-items: center;
        justify-content: center;
        img{
          width: 100%;
          max-width: 90px;
          height: auto;
        }
      }
      .dateType{
        font-size: 13px;
      }
      .little-title{
        font-size: 8px;
      }
    }
    .right-side{
      flex: 4;
      justify-content: space-between;
      margin-left: 10px;
      > div{
        flex: 1;
      }
      .card-infos{
        //justify-content: space-between;
        margin-bottom: 0.5em !important;
        .card-title{
          word-wrap: break-word !important;
          word-break: break-all !important;
          font-size: 18px !important;
          font-weight: 500 !important;
          &[dir=rtl]{
            font-family: Tajawal-Bold
          }
          h1{
            @extend .card-title;
          }
        }
        .card-description, .card-description p{
          -ms-word-break: break-all;
          word-break: break-all;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
          margin: 0.25em 0 0.5em 0;
          font-size: 13px;
          color: $container-border;
          font-family: Poppins-Medium;
          &[dir=rtl]{
            font-family: Tajawal-Medium;
            p{
              font-family: inherit;
            }
          }
        }
      }
      .card-buttons{
        justify-self: flex-end;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5em!important;
        > div{
          flex: 1;
          text-align: center;
          padding: 10px 15px;
          cursor: pointer;
          border-radius: 10px;
          border: 2px solid $button-border1;
          font-size: 15px;
          align-self: flex-end;
          max-width: 50%;
        }
        .details-button{
          background-color: $button-color2;
          color: $button-text1;
          margin-right: 2.5px;
          margin-left: 0px;
          &[dir=rtl]{
            margin-right: 0px;
            margin-left: 2.5px;
          }
        }
        .duplicate-button{
          background-color: $button-color1;
          color: $button-text2;
          margin-left: 2.5px;
          margin-right: 0px;
          &[dir=rtl]{
            margin-left: 0px;
            margin-right: 2.5px;
          }
        }
      }
    }
}
.previewCard{
  flex-direction: row;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid $border-color;
  border-radius: 20px !important;
  margin-top: 1.2rem;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0 !important;
  transition: all 0.5s, transform 0.6s;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  transform: rotateY(0deg);
  .left-side, .right-side{
    transition: display 0.6s;
    display: flex !important;
  }
  .back{
    display: none !important;
  }
  &.backface{
    transform: rotateY(180deg);
    .left-side, .right-side{
      display: none !important;
    }
    .back{
      display: flex !important;
      transform: rotateY(180deg);
    }
  }
  > div{
    flex-grow: 1;
    padding: 10px;
  }
  .left-side{
    flex: 1;
    background-color: $sideBar-color;
    color: white;
    border-radius: 20px 0 0 20px !important;
    font-size: 20px;
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    font-family: Poppins-Medium;
    &[dir=rtl]{
      border-radius: 0 20px 20px 0 !important;
      font-family: Tajawal-Medium;
    }
    @media only screen and (max-width: 451px) {
      flex-direction: row !important;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      &[dir=ltr]{
        border-radius: 20px 20px 0 0  !important;
      }
      &[dir=rtl]{
        border-radius: 20px 20px 0 0  !important;
      }
    }
    > div{
      width: 100%;
    }
    #entries{
      position: relative;
      &:hover {
        .tooltip{
          visibility: visible;
          opacity: 1;
        }
      }
      .tooltip{
        position: absolute;
        height: 100%;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: .25s all;
        bottom: -30px;
        &[dir=rtl]{
          right: 10px;
        }
        &[dir=ltr]{
          left: 10px;
        }
        //visibility: hidden;
        .tooltip-text{
          background-color: black;
          color: white;
          padding: 5px 10px; 
          border-radius: 6px;
          font-size: 12px;
        }
      }
    }
    &.templateImg{
      height: 100%;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        max-width: 90px;
        height: auto;
      }
    }
    .dateType{
      font-size: 13px;
    }
    .little-title{
      font-size: 8px;
    }
  }
  .right-side{
    flex: 4;
    justify-content: space-evenly;
    margin-left: 10px;
    .card-infos{
      //justify-content: space-between;
      .card-title{
        font-size: 18px;
        font-weight: 500;
        word-wrap: break-word;
        word-break: break-all;
        &[dir=rtl]{
          font-family: Tajawal-Bold;
        }
        .headButtons{
          & > div{
            margin: 0 0.125em !important;
            img{
              cursor: pointer;
            }
          }
        }
      }
      .card-description{
        justify-self: center;
        margin: 0.25em 0 0.5em 0;
        font-size: 13px;
        color: $container-border;
        font-family: Poppins-Medium;
        -ms-word-break: break-all;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        &[dir=rtl]{
          font-family: Tajawal-Medium;
          p{
            font-family: inherit;
          }
        }
      }
    }
    .previewActions{
      > div{
        &:not(:last-child){
          margin-bottom: 0.25em;
        }
        .contest_input{
          flex: 1;
          input{
            width: 100%;
            height: 100%;
            padding: 0.25em 0.5em;
            color: #707070;
            border: 0px;
            outline: none;
            font-family: Poppins-Regular;
            &[dir=rtl]{
              font-family: Tajawal-Regular;
            }
          }
        }
        > div, select{
          display: flex;
          align-items: center;
          border: 1px solid $border-color;
          
          &:first-child{
            border-right: 0px;
          }
          &:last-child{
            border-left: 0px;
          }
          &.actionUrl, &.selectForm{
            flex: 1;
            margin-top: 0 !important;
            border-radius: 0 !important;
            padding: 0.25em 0.5em;
            color: #707070;
            font-family: Poppins-Regular;
          }
          &.actionPoints{
            cursor: pointer;
            padding: 0.5em;
            width: 40px;
            background-color: $sideBar-color;
            color: white;
            text-align: center;
            justify-content: center;
            align-items: center;
          }
          &.actionProvider{
            display: flex;
            justify-content: center;
            .actionIcon{
              padding: 0.5em 0.6em;
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                width: 18px;
                height: auto;
              }
            }
          }
        }
      }
    }
    #min-points-alert{
      position: absolute;
      bottom: -2em;
      font-size: 13px;
      color: red;
      transition: .5s all;
      &[dir=ltr]{
        right: 1em;
      }
      &[dir=rtl]{
        left: 1em;
        font-family: Tajawal-Medium;
      }
    }
  }
  .previewPrizes{
    flex: 1;
    padding: 10px 5px;
    //max-height: 300px;
    //flex-wrap: wrap;
    justify-content: center;
    position: relative;
    flex-direction: column !important;
    .prizesTitle{
      width: 100%;
      padding: 15px 10px;
      border-bottom: 1px solid $border-color;
      font-size: 18px;
      color: black;
      font-family: Poppins-SemiBold;
      &[dir=rtl]{
        font-family: Tajawal-Bold;
      }
      img{
        width: 20px;
        cursor: pointer;
      }
    }
    #previewPrizes{
      flex: 1;
      width: 100%;
      max-height: 250px;
      overflow-y: auto;
      @extend .scroll;
    }
    .previewPrize{
      width: 100%;
      padding: 15px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span{
        margin: 0 0.25em;
      }
      .prizeOrder{
        font-size: 18px;
        color: black;
      }
      .prizeText{
        margin-top: 0.25em;
      }
      .prizeWinner{
        font-size: 15px;
        color: gray;
      }
      @media only screen and (max-width: 560px) {
        min-width: 100%;
        max-width: 100%;
      }
      @media only screen and (max-width: 382px) {
        min-width: 100%;
        max-width: 100%;
      }
      /*&:nth-child(3n+0){
        border: 1px solid black;
        border-bottom: 0;
        border-top: 0;
      }*/
    }
  }
}