.bg-web-desc{
    background: url("../../assets/images/img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desc-title{
    font-size: 20px;
}
