.preview{
    flex: 1;
    min-width: 30%;
    border-right: 2px solid $border-color;
    border-radius: 0 0 0 15px;
    background-color: $previewBg;
    padding: 10px 10px 30px 10px;
    @media only screen and (max-width: 1279px){
        border-top: 2px solid $border-color;
        border-top: none;
        border-radius: 0 0 15px 15px;
    }
    @media only screen and (max-width: 375px) {
        border-radius: 0px;
    }
    .previewCard{
        min-width: 80% !important;
        min-height: 300px;
        @media only screen and (max-width: 1279px){
            min-width: 50% !important;
            max-width: 50% !important;
        }
        @media only screen and (max-width: 1097px){
            max-width: 80% !important;
            min-width: 80% !important;
        }
        @media only screen and (max-width: 756px){
            max-width: 90% !important;
            min-width: 90% !important;
        }
        @media only screen and (max-width: 375px) {
            flex-direction: column !important;
        }
        .left-side{
            @media only screen and (max-width: 375px) {
                flex-direction: row !important;
                justify-content: center;
                align-items: center;
            }
        }
    }
}