.savedContest{
    padding: 10px;
    max-width: 100%;
    text-align: center;
    > div{
        margin: 0.25em 0;
    }
    .bigText{
        font-size: 25px;
        font-family: Poppins-Bold;
        color: #272D3B;
        &[dir=rtl]{
            font-family: Tajawal-Bold;
        }
        @media only screen and (max-width: 470px){
            font-size: 20px;
        }
    }
    .subText{
        color: #707070;
        font-size: 18px;
        font-family: Poppins-Medium;
        &[dir=rtl]{
            font-family: Tajawal-Medium;
        }
        @media only screen and (max-width: 470px){
            font-size: 15px;
        }
    }
    .contestLink{
        border: 1px solid $border-color;
        padding: 10px 20px;
        word-break: break-all;
        border-radius: 5px;
        font-size: 15px;
        color: #272D3B;
        text-align: center;
        @media only screen and (max-width: 470px){
            font-size: 13px;
        }
    }
    .copied{
        background-color: rgba(39, 45, 59, 0.5);
        color: white;
        animation: copied 2000ms forwards alternate;
        @keyframes copied {
            from{
                background-color: rgba(39, 45, 59, 0.5);
                color: white;
            }to{
                background-color: transparent;
                color: #272D3B;
            }
        }
    }
    .socialIcons{
        > div{
            margin: 0 0.25em;
            cursor: pointer;
        }
    }
}