.tableContainer{
    //@extend .list-container;
    width: 100%;
    border-radius: 0 0 15px 15px;
    padding: 10px 0;
    .list-title-container{
        padding: 15px 10px;
    }
    .table-container{
        width: 100%;
        display: flex;
        @extend .scroll;
        .table{
            flex: 1;
            width: 100%;
            height: 100%;
            min-height: 300px;
            max-height: 1000px;
            border-radius: 0 0 15px 15px !important;
            text-align: center;
            position: relative;
            overflow: auto;
            @extend .scroll;
            .tbody{
                position: absolute;
                display: flex;
                flex-direction: column;
                min-width: 100%;
                height: 100%;
                overflow: auto !important;
                left: 0;
                top: 0;
                @extend .scroll;
                .tr{
                    //flex: 1;
                    &:nth-child(1){
                        border-top: 1px solid $border-color;
                    }
                    padding: 10px;
                    font-size: 15px !important;
                    border-bottom: 1px solid $border-color;
                    font-family: Poppins-Medium;
                    justify-content: center;
                    align-items: center;
                    & > *{
                        min-width: 200px;
                        flex: 1;
                        border: 0px !important;
                    }
                    &:nth-child(2n + 0){
                        background-color: $border-color !important;
                    }
                }
                .tds{
                    color: gray;
                    font-family: Montserrat-Regular;
                }
            }
        }
    }
}