.NewContestTabs{
    display: flex;
    flex-direction: row;
    background-color: $sideBar-color;
    border-radius: 15px 15px 0 0;
    flex-wrap: wrap;
    font-family: Poppins-Regular;
    &[dir=rtl]{
        font-family: Tajawal-Medium;
    }
    @media only screen and (max-width: 376px) {
        border-radius: 0px !important;
    }
    .NewContestTab{
        flex: 1;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        transition: all .5s;
        .tabText{
            padding: 20px;
            cursor: pointer;
            //border: 2px solid transparent;
            @media only screen and (max-width: 650px){
                padding: 20px 10px;
            }
        }
        a{
           color: white;
           text-decoration: none;
        } 
        &.active{
            .tabText{
                color: #00CCF2;
                a{
                    color: #00CCF2;
                }
            }
        }
        @media only screen and (max-width: 1060px){
            font-size: 15px;
        }
        @media only screen and (max-width: 650px){
            font-size: 13px;
        }
    }
}